:host {
  display: flex;
  height: 100%;
}

.items,
.comments {
  flex: 1;
  border: 1px solid #dcdcdc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #565a69;
  padding: 10px 20px 10px 30px;
  height: calc(100% - 85px);
  margin: 30px;
}

.comments {
  margin-left: 0;
}

h1 {
  margin: 0 0 25px 0;
  font-size: 2.6rem;
  font-weight: 300;
}
