:host {
  display: block;
  margin-left: -30px;
  height: calc(100vh - 250px);
}

.selected {
  border-left: 5px solid #ff3c4f;
  padding-left: 25px !important;
}

.scrollable {
  display: block;
  overflow: auto;
  height: 100%;
  padding-right: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.main {
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.actions {
  flex: 0 0 auto;
  padding: 8px 0;
  border-bottom: 1px solid #e6e6e6;
}

.item {
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  color: #2b2f3e;
  border-bottom: 1px solid #e6e6e6;
  font-weight: 700;
  padding: 16px 0;
}

.count {
  padding: 2px 7px;
  border-radius: 35px;
  margin-left: 10px;
  font-weight: 700;
  color: #fff;
  font-size: 1rem;
  background-color: #27ccc0;
}

.btn-delete {
  float: right;
  min-width: 90px;
  border-radius: 4px;
  margin-left: 10px;
  padding: 7px 20px;
  font-size: 1.3rem;
  color: #ff3c4f;
  outline: none;
  cursor: pointer;
  border: 2px solid ;
  background: transparent;
  transition: all 0.5s ease-out;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.btn-delete:hover {
  box-shadow: none;
  background-color: rgba(255, 177, 184, 0.13);
}
